.CartTitle{
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    font-weight: bold;
    font-size:50px;
    
}
.EmptyCartContainer{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height:40vw;

    .EmptyCarrito{
        @extend .CartTitle
    }
    
    .EmptyParrafo{
        font-size:30px;
    }
    .ButtonProduct{
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
        display: inline-block;
        padding: 15px 30px;
        text-decoration: none;
        border: solid 1px;
        color: coral;
        border-color: coral;
        cursor: pointer;
        &:hover{
            color: #fff;
            box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);
            background-color: coral;
        }
    }

}


.CartContainer{
    display:flex;
    justify-content:space-around;
    align-items:center;
    text-align:center;
    border: 1px solid black;
    height: 20vh;
    margin: 10px;
    width: 99%;

    .CartName{
        font-size: 25px;
        font-weight: bold;
        width: 25%;
    }


    .CartEliminar{
        border-color:  coral;
        background-color: white;
        color: coral;
        font-size:20px;
        font-weight: bold;
        cursor:pointer;
    }

    .CartImg{
        height:180px;
        width: 180px;
    }

}
