.containerDetail {
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    .ItemDetailContainer {
        width: 90vw;
        height: 100vh;
        display: flex;
        .FirstDetailContainer {
            width: 90vw;
            height: 100vh;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content:center;
            .LeftDetailContainer {
                height: 100vh;
                .ImageDetailContainer {
                    height: 80vh;
                }
            }
        }
        .SecondDetailContainer {
            width: 90vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: left;
            .RightDetailContainer {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                width: 40vw;
                .parrafo {
                    color: black;
                    margin:0px;
                    margin-top:10vh;
                    font-size: 50px;
                    font-weight: bold;
                    text-decoration: underline;
                }
                .CodeDetail{
                    color:gray;
                    margin:0px;
                }
                .DescriptionDetail{
                    margin-top: 5vh;
                    font-size:20px;
                }
                .PriceDetail{
                    font-size:40px;
                    font-weight: bold;
                    margin: 0px;
                    margin-top: 3vh;
                }
            }

            .BotonCarritoDetail{
                width: 40vw;
                height: 10vh;
                display: flex;
                justify-content:flex-start;
                align-items:center;
                .BotonStock{
                    width: 25vw;
                    .FinalizarCompra{
                        color: coral;
                        text-decoration: none;
                        font-weight: bold;
                        font-size:15px;
                        &:hover{
                            color: rgb(161, 90, 3)
                        }
                    }
                }
                
            }
        }
    }
}