.navbar{
nav {
    height: 10%;
    width: 100%;
    background-color: coral;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
        justify-content: flex-end;
        li {
            list-style: none;
            a {
                color: white;
                margin-right: 20px;
                text-decoration: none;
                &:hover {
                    cursor: pointer;
                    color: black;
                }
            }
        }
    }

    .usuarioNav{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
        width: 15vw;


    button{
            background-color:coral;
            border-color: coral;
            color: white;
            text-decoration: none;
            &:hover {
                cursor: pointer;
                color: black;
                background-color:rgb(224, 73, 17);
            }
            margin-right:2%;
        
    }
    .usuarioNavP{
        display: flex;
        color: white;
        cursor:default;
        justify-content: flex-start;
        width:6vw;
    }


}
}

.categorias{
    height: 10%;
    width: 50%;
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
    .categoriasBoton {
        color: white;
        margin-right: 30px;
        text-decoration: none;
        &:hover {
            cursor: pointer;
            color: black;
        }
    }

}

.logo {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left:1%;
    color: white;
    height: 20%;
    .titulo {
        font-size: 30px;
    }
}
}

.itemList{
    display: flex;
    align-items: center;
    justify-content: center;
}