.navbar{
nav {
    height: 10%;
    width: 100%;
    background-color: coral;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
        justify-content: flex-end;
        li {
            list-style: none;
            a {
                color: white;
                margin-right: 30px;
                text-decoration: none;
                &:hover {
                    cursor: pointer;
                    color: black;
                }
            }
        }
    }
}

.categorias{
    height: 10%;
    width: 30%;
    background-color: coral;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .categoriasBoton {
        color: white;
        margin-right: 30px;
        text-decoration: none;
        &:hover {
            cursor: pointer;
            color: black;
        }
    }

}

.logo {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    height: 20%;
    .titulo {
        font-size: 30px;
    }
}
}

.itemList{
    display: flex;
    align-items: center;
    justify-content: center;
}